*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

select {
  width: 10em;
  margin: 10px 0px 10px 0px;
}

#playerCardContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.player-card {
  background-color: aqua;
  border: 2px solid black;
  margin: 10px 0px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.player-card p{
  font-weight: bold;
}
.puppyDetails{
  background-color: antiquewhite;
  border: 2px solid black;
  margin: 10px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
